.btn {
    background-color: #9BC50A;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    width: 8em;
    height: 1.7em;
    padding: 0.2em;
}